body {
  background-color: rgb(3, 9, 37);
  color: #fff;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 0.5rem 1rem;
  background-color: rgb(245, 245, 245);
  border: 0;
  outline: 0;
  border-bottom: 4px solid #000;
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

button {
  background-color: rgb(255, 123, 0);
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.list {
  background-color: rgb(245, 245, 245);
  color: #000;
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border: 20px solid rgb(255, 123, 0);
}

.note {
  max-width: 400px;
  font-size: 1.5rem;
  border: 5px solid #000;
  margin: auto;
  padding: 1rem;
  overflow-wrap: break-word;
}

.buttons {
  font-size: 0.8rem;
  background-color: rgb(12, 13, 15);
  color: wheat;
  margin: 0 1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.btns {
  margin-top: 2rem;
}
